@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@keyframes homeDesktopBtnAnim {
  from {
    opacity: 0;
    margin-bottom: 105px;
  }
  to {
    opacity: 1;
    margin-bottom: 110px;
  }
}
@keyframes homeMobileBtnAnim {
  from {
    opacity: 0;
    margin-bottom: 45px;
  }
  to {
    opacity: 1;
    margin-bottom: 50px;
  }
}

@keyframes contentDesktopAnim {
  from {
    margin-top: 270px;
    opacity: 0;
  }
  to {
    margin-top: 275px;
    opacity: 1;
  }
}
@keyframes contentMobileAnim {
  from {
    margin-top: 185px;
    opacity: 0;
  }
  to {
    margin-top: 190px;
    opacity: 1;
  }
}

.about-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  &__content {
    animation-name: contentDesktopAnim;
    animation-duration: 0.5s;
    margin: 275px auto auto auto;
    display: flex;
    flex-direction: column;
  }

  &__text {
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
    font: {
      family: "Montserrat";
      size: 18px;
      weight: 300;
    }
  }

  &__contacts {
    width: 188px;
    display: flex;
    justify-content: space-between;
    margin: 43px auto auto auto;
  }

  &__site {
    outline: none;
    border: none;
    background: none;
    opacity: 0.6;
    transition: 0.5s;

    &:hover {
      opacity: 1;
      filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.75));
    }
  }

  &__link {
    animation-name: homeDesktopBtnAnim;
    animation-duration: 0.4s;
    text-decoration-line: none;
    color: white;
    letter-spacing: 0.05em;
    margin: auto auto 110px auto;
    transition: 0.3s;
    position: relative;
    font: {
      family: "Montserrat";
      size: 16px;
      weight: 400;
    }
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: white;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 25px;
      transform: scaleX(0);
      transition: 0.4s;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }

  &__mail {
    opacity: 0;
    pointer-events: none;

    &-copied {
      display: flex;
      margin: auto;
      width: 250px;
      height: 40px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      pointer-events: none;
      transition: 0.2s;

      &_active {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__title-copied {
    margin: auto;
    color: white;
    letter-spacing: 0.05em;
    font: {
      family: "Montserrat";
      size: 14px;
      weight: 300;
    }
  }
}

@media screen and (max-width: 1399px) {
  .about-page {
    &__content {
      animation-name: contentMobileAnim;
      animation-duration: 0.5s;
      margin: 190px auto auto auto;
    }

    &__link {
      animation-name: homeMobileBtnAnim;
      animation-duration: 0.4s;
      margin: auto auto 50px auto;
    }
  }
}

@media screen and (max-width: 899px) {
  .about-page {
    &__text {
      line-height: 20px;
      font: {
        family: "Montserrat";
        size: 14px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .about-page {
    &__content {
      width: 281px;
    }
  }
}
