@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

%fontBasics {
  letter-spacing: 0.05em;
  color: white;
  font-family: "Montserrat";
}

.err-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/err-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__err {
    margin-top: 218px;
    letter-spacing: 0.15em;
    color: white;
    text-transform: uppercase;
    font: {
      size: 48px;
      weight: bold;
    }
  }

  &__404 {
    @extend %fontBasics;
    margin-top: -21px;
    font: {
      size: 96px;
      weight: bold;
    }
  }

  &__title {
    @extend %fontBasics;
    margin-top: 157px;
    font: {
      size: 24px;
      weight: 400;
    }
  }

  &__text {
    @extend %fontBasics;
    margin-top: 10px;
    font: {
      size: 16px;
      weight: 400;
    }
  }
}

@media screen and (max-width: 1399px) {
  .err-page {
    &__err {
      margin-top: 160px;
    }
  }
}

@media screen and (max-width: 575px) {
  .err-page {
    &__err {
      margin-top: 185px;
    }

    &__title {
      margin-top: 146px;
    }

    &__text {
      margin-top: 5px;
      font: {
        size: 14px;
        weight: 300;
      }
    }
  }
}
